
VZIC_RELEASE_NAME=2019a
VZIC_BASE_RELEASE_NAME=

# The source tzdata is downloaded from this URL.
VZIC_TZDATA_ARCHIVE_URL="https://data.iana.org/time-zones/releases/tzdata$VZIC_RELEASE_NAME.tar.gz"

# If VZIC_MASTER_ZONEINFO_ARCHIVE_URL is set, the script tries to download a an output from a previous
# version and merge the new output with the previous one using vzic-merge.pl.
# VZIC_MASTER_ZONEINFO_ARCHIVE_PATH can point to a local file and be used instead of VZIC_MASTER_ZONEINFO_ARCHIVE_URL.
# If neither of them is set, then the newly generated zoneinfo is kept as is.

# VZIC_MASTER_ZONEINFO_ARCHIVE_URL=""
# VZIC_MASTER_ZONEINFO_ARCHIVE_PATH=""

VZIC_PRODID="-//github.com/libical/vzic//NONSGML ICS//EN"
VZIC_TZID_PREFIX="/github.com/libical/%D_1/"
